body
{
background-color:rgb(252, 169, 211)
}

canvas {
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}


@keyframes example {

from {box-shadow: 1px 1px 50px rgb(183, 82, 241);}
to {box-shadow: 1px 1px 38px rgb(245, 52, 203);}

}